/* Variables */
:root {
  /* Primary Colors */
  --clr-primary-1: #3d5a80;
  --clr-primary-2: #98c1d9;
  --clr-primary-3: #e0fbfc;
  --clr-primary-4: #ee6c4d;
  --clr-primary-5: #293241;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
